@page "/Login"
@using BlogBlazor.Client.Service
@inject HttpClient Http
@inject NavigationManager _navigationManager
@inject AuthenticationService _authenticationService
<h3>Login</h3>

<EditForm OnValidSubmit="HandleValidLogin" Model="@_authorLogin">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <InputText id="email" @bind-Value="@_authorLogin.Email" placeholder="Votre Email"/>
    <InputText id="password" @bind-Value="@_authorLogin.Password" placeholder="Votre mot de passe" type="password"/>
    <button class="btn btn-primary" type="submit">Connexion</button>
</EditForm>

@code {
    private AuthorLoginReadDTO _authorLogin = new();
    private AuthorReadDTO _author = new();

    protected async Task HandleValidLogin()
    {
        try
        {
            _author = await _authenticationService.Login(_authorLogin);

            if (_author != null)
            {
                _navigationManager.NavigateTo("/post");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw new Exception("Author not found");
        }
    }
}